{% extends 'events/layout.html' %}
{% block content %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    {% tailwind_css %}
</head>
<body class="bg-gray-100">
   
</body>
</html>
{% endblock %}


  <!-- Buttons Section -->
  <!-- <div class="flex justify-center space-x-10 items-center mt-10">
    Register Button -->
    <!-- <a href="{% url 'register' %}"  
       class="bg-green-600 hover:bg-green-700 text-white font-bold py-3 px-8 rounded-full shadow-lg text-lg transition duration-200 transform hover:scale-105">
        Register
    </a> -->

    <!-- Login Button -->
    <!-- <a  href="{% url 'logout' %}"
       class="bg-green-400 hover:bg-green-700 text-white font-bold py-3 px-8 rounded-full shadow-lg text-lg transition duration-200 transform hover:scale-105">
        Login
     </a>
</div> -->